<div class="display" [ngClass]="{'default-arena': backgroundPosition === 'center'}"
    [style.backgroundImage]="'url(' + backgroundImage + ')'" [style.backgroundPosition]="backgroundPosition"
    [style.backgroundSize]="'cover'" [style.backgroundRepeat]="'no-repeat'">
    <div class="overlay">
        <div class="chicken-rain-container"></div>
    </div>

    <div class="vsFrame">
        <!-- Fighter 1 -->
        <div class="fighter fighter1" *ngIf="fighter1">
            <div class="fighter-background" [style.backgroundImage]="'url(' + fighter1.images.background + ')'">
            </div>
            <img class="fullBody" [src]="fighter1.images.fullBody" alt="Fighter 1 Full Body" />
            <div class="attributes">
                <h4>{{ fighter1.name }}</h4>
                <p>{{ fighter1.level }}</p>
                <p>{{ fighter1.fightingStyle }}</p>
                <p>{{ fighter1.bornIn }}, {{ fighter1.nationality }}</p>
            </div>
        </div>

        <!-- Fighter 2 -->
        <div class="fighter fighter2" *ngIf="fighter2">
            <div class="fighter-background" [style.backgroundImage]="'url(' + fighter2.images.background + ')'">
            </div>
            <img class="fullBody" [src]="fighter2.images.fullBody" alt="Fighter 2 Full Body" />
            <div class="attributes">
                <h4>{{ fighter2.name }}</h4>
                <p>{{ fighter2.level }}</p>
                <p>{{ fighter2.fightingStyle }}</p>
                <p>{{ fighter2.bornIn }}, {{ fighter2.nationality }}</p>
            </div>
        </div>

        <!-- VS Text -->
        <div *ngIf="fighter1 && fighter2" class="vsText">
            <h3>VS</h3>
        </div>
    </div>

    <!-- Fight gif -->
    <div class="fight-gif-con">
        <img class="fight-gif" src="./assets/images/gifs/cloud.gif" alt="tighting" style="display: none;">
    </div>

    <!-- Winner Text -->
    <div class="winner-text">
        <h2></h2>
    </div>

</div>