<div class="display" [ngClass]="{'default-arena': backgroundPosition === 'center'}"
    [style.backgroundImage]="'url(' + backgroundImage + ')'" [style.backgroundPosition]="backgroundPosition"
    [style.backgroundSize]="'cover'" [style.backgroundRepeat]="'no-repeat'">
    <div class="overlay"></div>

    <div class="vsFrame">
        <!-- Fighter 1 -->
        <div class="fighter fighter1" *ngIf="fighter1">
            <!-- Background div -->
            <div class="fighter-background" [style.backgroundImage]="'url(' + fighter1.images.background + ')'">
            </div>

            <img class="fullBody" [src]="fighter1.images.fullBody" alt="Fighter 1 Full Body" />
            <div class="attributes">
                <p><strong>{{ fighter1.name }}</strong></p>
                <p>{{ fighter1.fightingStyle }}</p>
                <p>{{ fighter1.bornIn }}, {{ fighter1.nationality }}</p>
            </div>
        </div>

        <!-- Fighter 2 -->
        <div class="fighter fighter2" *ngIf="fighter2">
            <!-- Background div -->
            <div class="fighter-background" [style.backgroundImage]="'url(' + fighter2.images.background + ')'">
            </div>

            <img class="fullBody" [src]="fighter2.images.fullBody" alt="Fighter 2 Full Body" />
            <div class="attributes">
                <p><strong>{{ fighter2.name }}</strong></p>
                <p>{{ fighter2.fightingStyle }}</p>
                <p>{{ fighter2.bornIn }}, {{ fighter2.nationality }}</p>
            </div>
        </div>

        <!-- VS Text -->
        <div *ngIf="fighter1 && fighter2" class="vsText">
            <h3>VS</h3>
        </div>
    </div>
</div>