.selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 3rem;
    margin: auto;
    gap: 2rem;
    position: relative;
}

.character-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    padding: 0.5rem;
    width: 90%;
    margin: auto 0;
}

.fight-button {
    display: block;
    margin: 0;
    text-align: center;
    font-size: 1rem;
    color: white;
    background-color: transparent;
    padding: 0.8em 3em;
    letter-spacing: 0.08em;
    position: relative;
    border-radius: 0.6em;
    overflow: hidden;
    font-family: 'tekken', sans-serif;
    z-index: 3;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    line-height: 1.4em;
    border: 1px solid white;
    ;
    box-shadow: inset 0 0 10px rgba(0, 76, 104, 0.4), 0 0 9px 3px rgba(0, 76, 104, 0.1);
}

.fight-button:hover {
    border: 1px solid #a48025;
    color: #a48025;
}

button:before {
    content: "";
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
}

button:hover:before {
    transform: translateX(15em);
}

.fight-button:disabled {
    display: none;
    transition: transform 1s ease;
}

.character-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    padding: 0.5rem;
    margin: auto 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(196, 196, 196);
    height: 5rem;
    width: 5rem;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
    color: white;
    transition: transform 0.5s ease, border-color 0.5s ease;
}

.character-tile:hover {
    transform: scale(1.1);
    border-color: #a48025;
    animation: shiny-effect 3s infinite linear;
}

.character-tile.selected {
    transform: scale(1.1);
    border-color: #a48025;
    box-shadow: 0 0 5px rgba(215, 187, 3, 0.8), 0 0 15px rgba(226, 162, 40, 0.6), 0 0 20px rgba(255, 215, 0, 0.5);
}

.character-tile.disabled {
    filter: grayscale(100%);
    pointer-events: none;
    opacity: 0.7;
}

.character-tile p {
    background-color: rgb(229, 229, 229);
    color: #3d3d3d;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    margin-top: auto;
    font-size: 0.8rem;
    position: relative;
    bottom: -35px;
    box-shadow: 0 2px 5px rgba(0, 76, 104, 0.2);
    font-weight: bold;
    text-transform: uppercase;
}

.arena-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    position: relative;
    width: 100%;
}

.controls-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    bottom: 50%;
    margin: 0;
    position: absolute;
    top: -5vh;
    left: 50%;
    transform: translate(-50%, -50%);
}


.arena-nav {
    font-family: 'tekken', sans-serif;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.arena-nav:hover {
    transform: scale(1.1);
    background-color: none;
    color: #a48025;
}

.arena-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}

@media (max-width: 768px) {

    .character-tile {
        height: 4rem;
        width: 4rem;
        padding-bottom: 0.5rem;
    }

    .character-tile p {
        font-size: 0.7rem;

    }
}