.character-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    margin: auto 0;
}

.character-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    padding: 0.5rem;
    margin: auto 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(196, 196, 196);
    height: 5rem;
    width: 5rem;
    border-radius: 10px;
    border: 3px solid white;
    cursor: pointer;
    color: white;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.character-tile:hover {
    transform: scale(1.1);
    border-color: white;  
}

.character-tile.selected {
    transform: scale(1.1);
    border-color: #e4aa2d;  
}

.character-tile.disabled {
    filter: grayscale(100%);
    pointer-events: none;
    opacity: 0.7; 
}

.character-tile p {
    font-family: "tekken", sans-serif; 
    background-color: white;
    color: #3d3d3d;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    margin-top: auto;
    font-size: 0.9rem;
    position: relative;
    bottom: -35px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    text-transform: uppercase;
}

.arena-selection {
    margin: 2rem auto;
    text-align: center;
}

.arena-selection label {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 0.5rem;
}

.arena-selection select {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    background-color: #222;
    color: white;
    outline: none;
    transition: border 0.3s ease;
}

.arena-selection select:focus {
    border: 1px solid #888;  
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .character-tile {
        height: 4rem; 
        width: 4rem;
    }

    .character-tile p {
        font-size: 0.8rem;  
        bottom: -30px;
    }
}
