<div class="selection-container">

    <!-- Character Grid -->
    <div class="character-grid">
        <!-- Display Fighters -->
        <div class="character-tile" 
        *ngFor="let character of characters" 
        (click)="toggleFighterSelection(character)"
        [class.disabled]="isDisabled(character)"
        [style.backgroundImage]="'url(' + character.images.headshot + ')'">
        <p>{{ character.name }}</p>
    </div>
    
    </div>

    <!-- Arena Selection Controls -->
    <div class="controls-con" *ngIf="!isFightActive">

        <!-- Arena Navigation -->
        <div class="arena-selection" *ngIf="!isFightActive">
            <button class="arena-nav prev" (click)="previousArena()">↢ Prev</button>
            <div class="arena-display">
                {{ arena || 'Select Arena' }}
            </div>
            <button class="arena-nav next" (click)="nextArena()">Next ↣</button>
        </div>

        <!-- Fight Button -->
        <button class="fight-button" [disabled]="!fighter1 || !fighter2 || !arena"
            (click)="startFight(fighter1!, fighter2!)">
            Start Fight
        </button>

    </div>

</div>