/* Fighters Grid */

.selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    gap: 2rem;
    position: relative;
}

.character-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 0.5rem;
    width: 95%;
    margin: 1.5rem 0;
    animation: fadeIn 0.5s ease-in-out;
}

.character-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    margin: auto 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #cccccc;
    height: 5rem;
    width: 5rem;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
    color: white;
    transition: transform 0.5s ease, border-color 0.5s ease;
    z-index: 9999;
}

.character-tile:hover {
    border-color: silver !important;
    box-shadow: 0 0 5px rgba(192, 192, 192, 0.8), 0 0 10px rgba(211, 211, 211, 0.6), 0 0 15px rgba(220, 220, 220, 0.5);
    transform: scale(1.1);
}

.character-tile.selected {
    transform: scale(1.1);
    border-color: #ba892d;
    box-shadow: 0 0 5px rgba(215, 187, 3, 0.8), 0 0 10px rgba(226, 162, 40, 0.6), 0 0 15px rgba(255, 215, 0, 0.5);
}

.character-tile.disabled {
    filter: grayscale(100%);
    pointer-events: none;
    opacity: 0.7;
}

/* For Chicken */
.character-tile.chicken-effect:hover {
    border-color: silver !important;
    box-shadow: 0 0 8px rgba(192, 192, 192, 0.8), 0 0 18px rgba(211, 211, 211, 0.6), 0 0 28px rgba(220, 220, 220, 0.5);
    transform: scale(1);
}

.character-tile p {
    font-family: 'sub-title', sans-serif;
    background-color: rgb(229, 229, 229);
    color: #3d3d3d;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    margin-top: auto;
    font-size: 0.8rem;
    position: relative;
    bottom: -35px;
    box-shadow: 0 2px 5px rgba(0, 76, 104, 0.2);
    font-weight: bold;
    text-transform: uppercase;
}


/* Arenas Selection */

.controls-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    bottom: 50%;
    margin: 0;
    position: absolute;
    top: -14vh;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 0.5s ease-in-out forwards;
    z-index: 9998;
}

.arena-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    text-align: center;
    position: relative;
    width: 45%;
}

.arena-nav {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.arena-nav,
.arena-display {
    font-family: 'sub-title', sans-serif;
    white-space: nowrap;
    line-height: 1.5;
    color: white;
}

.arena-display {
    margin: 0;
    font-size: 2rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    text-align: center;
}

.arena-nav:hover {
    transform: scale(1.1);
    background-color: none;
    color: #ba892d;
}

/* Fight Button */
.fight-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    white-space: nowrap;
    font-size: 1.5rem;
    border: 2px solid #ba892d;
    color: #ba892d;
    background: rgba(0, 0, 0, 0.4);
    letter-spacing: 5px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    font-family: 'sub-title', sans-serif;
    z-index: 3;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    margin-top: 0.5rem;
    box-shadow: 0 0 5px rgba(215, 187, 3, 0.8), 0 0 15px rgba(226, 162, 40, 0.6), 0 0 20px rgba(255, 215, 0, 0.5);
    animation: fadeIn 0.5s ease-in-out forwards;
    padding: 0.8rem 2rem 0.6rem 2rem;
    height: 50px;
}


.fight-button:hover {
    border-color: white;
    color: white;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 15px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 215, 0, 0.5);

}

button:before {
    content: "";
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
}

button:hover:before {
    transform: translateX(15em);
}

.fight-button:disabled {
    display: none;
    transition: transform 1s ease;
}


/* Responsive */

@media (max-width: 1200px) {

    .character-grid {
        width: 95%;
    }

}

@media (max-width: 800px) {

    .character-tile {
        height: 4rem;
        width: 4rem;
    }

    .character-tile p {
        font-size: 0.7rem;
    }

    .fight-button {
        margin-top: 0rem;
    }

}


@media (max-width: 700px) {

    .controls-con {
        margin-top: 6.5rem;
    }

}

@media (max-width: 650px) {

    .controls-con {
        margin-top: 6.5rem;
    }

}

@media (max-width: 520px) {


    .fight-button {
        margin-top: -0.8rem;
        font-size: 1rem;
    }

    .character-tile {
        height: 3.5rem;
        width: 3.5rem;
    }

    .character-grid {
        max-height: 35vh;
        overflow-y: auto;
    }

}
