/* Font Face */
@font-face {
    font-family: "tekken";
    src: url("./assets/fonts/misaki.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "vs";
    src: url("./assets/fonts/dosis.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "stats";
    src: url("./assets/fonts/elite.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* Key Frames */
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fallBackward {
    0% {
        transform: perspective(1000px) translateY(0);
        opacity: 0.7;
    }

    100% {
        transform: perspective(1000px) translateY(-100%);
        opacity: 0;
    }
}


@keyframes pulseShiny {
    0% {
        filter: brightness(1);
    }

    20% {
        filter: brightness(1.1);
    }

    40% {
        filter: brightness(1.2);
    }

    60% {
        filter: brightness(1.3);
    }

    80% {
        filter: brightness(1.2);
    }

    100% {
        filter: brightness(1);
    }
}


html,
body {
    font-family: 'tekken', sans-serif;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #131313;
    color: white;
    animation: fadeIn 1s ease-in-out;
}


/* Title */
.title h1 {
    font-family: 'tekken', sans-serif;
    text-transform: capitalize;
    margin: 2rem auto -0.5rem;
    text-align: center;
    color: white;
    font-size: 1.6rem;
    letter-spacing: 2px;
}

/* Fight Active */
.display.fight-active {
    transition: filter 1s ease-in-out;
}

.display.fight-active .fighter-background {
    animation: fadeOut 3s ease-in-out forwards;
    backface-visibility: hidden;
}

.display.fight-active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: saturate(2);
    -webkit-backdrop-filter: saturate(2);
    animation: pulseShiny 2.5s infinite ease-in-out;
    z-index: 1;
    transition: background 0.5s ease-in-out;
}

.display.fight-active {
    transition: filter 1s ease-in-out;
    animation: pulseShiny 2s infinite alternate;
}

.display.fight-active .controls-con .fight-button {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}


/* Hide Controls in Active */
.display.fight-active+.controls-con .arena-selection {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

/* Hide Backgrounds in Active + Disable hover */
.display.fight-active .fighter {
    background-image: none !important;
    transition: filter 0.5s ease-in-out;
    filter: brightness(1.2);
}

.display.fight-active .fighter:hover {
    transform: none !important;
    filter: none !important;
}

.display.fight-active .fighter::before {
    animation: fallBackward 2s ease-in-out forwards;
    transform-origin: top;
    backface-visibility: hidden;
}

/* Hide Text in Active */

.display.fight-active .vsText {
    display: none;
}

.display.fight-active .attributes {
    display: none;
}


/* Full Body in Active */
.display.fight-active .fighter img.fullBody {
    filter: inherit !important;
    transform: scale(1.2);
    bottom: 1rem;
    transition: filter 1s ease-in-out;
    top: 6.5rem;
}


.display.fight-active .fighter1 img.fullBody,
.display.fight-active .fighter2 img.fullBody {
    transform: scale(1.2);
    filter: brightness(1.1) contrast(1.1);
    transition: transform 2.5s ease-in-out, filter 2.5s ease-in-out;
    bottom: 10%;
}

.fighter1 img.fullBody {
    bottom: 0;
}

.fighter2 img.fullBody {
    bottom: 0;
}

.fighter img.fullBody {
    width: auto;
    height: 20rem;
    position: absolute;
    bottom: 0.5rem;
    transition: filter 0.3s ease-in-out;
}

/* Battle in Active */
.display.fight-active .battle {
    transition: transform 0.5s ease-in-out;
    position: absolute;
    width: 80%;
    left: 50%;
    top: 16rem;
    display: flex;
    justify-content: center;
    margin: auto 0;
    padding: 0;
    transform: translate(-50%, -50%);
    z-index: 9999;
}


@media (max-width: 1200px) {

    .display.fight-active .battle {
        width: 22rem;
    }

    .display.fight-active .battle {
        top: 24rem;
    }

    .display.fight-active .fighter img.fullBody {
        top: 8rem !important;
    }
}


@media (max-width: 1024px) {

    .fighter1 img.fullBody {
        right: 7vw;
    }

    .fighter2 img.fullBody {
        left: 7vh;
    }

    .display.fight-active .battle {
        top: 22rem;
    }

    .display.fight-active .fighter img.fullBody {
        top: 13rem !important;
    }
}


@media (max-width: 780px) {

    .display.fight-active .fighter img.fullBody {
        top: 10rem !important;
    }

    .display.fight-active .battle {
        top: 19rem;
    }
}


@media (max-width: 610px) {

    .display.fight-active .battle {
        top: 25rem;
    }

    .display.fight-active .fighter img.fullBody {
        top: 14rem !important;
    }
}


@media(max-width: 560px) {

    .title h1 {
        font-size: 1.2rem;
        letter-spacing: 1px;
        margin: 2rem auto -0.2rem;
    }
}


@media (max-width: 415px) {

    .display.fight-active .battle {
        top: 28rem;
    }

    .display.fight-active .fighter img.fullBody {
        top: 14rem !important;
    }
}


@media (max-width: 380px) {

    .display.fight-active .fighter img.fullBody {
        top: 10.5rem !important;
    }
}