/* Font Face */

@font-face {
    font-family: "title";
    src: url("./assets/fonts/romaji.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "sub-title";
    src: url("./assets/fonts/masmuseh.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* Key Frames */
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fallBackward {
    0% {
        transform: perspective(1000px) translateY(0);
        opacity: 0.7;
    }

    100% {
        transform: perspective(1000px) translateY(-100%);
        opacity: 0;
    }
}


@keyframes pulseShiny {
    0% {
        background-size: 100% 100%;
        filter: brightness(1);
    }

    20% {
        background-size: 105% 105%;
        filter: brightness(1.1);
    }

    40% {
        background-size: 110% 110%;
        filter: brightness(1.15);
    }

    60% {
        background-size: 115% 115%;
        filter: brightness(1.2);
    }

    80% {
        background-size: 110% 110%;
        filter: brightness(1.1);
    }

    100% {
        background-size: 100% 100%;
        filter: brightness(1);
    }
}

html,
body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #131313;
    animation: fadeIn 1s ease-in-out;
}


/* Title */
.title h1 {
    font-family: 'title', sans-serif;
    text-transform: capitalize;
    margin: 2rem auto -0.5rem;
    text-align: center;
    color: white;
    font-size: 1.6rem;
    letter-spacing: 2px;
}

/* Fight Active */
.display.fight-active {
    transition: filter 1s ease-in-out;
    animation: pulseShiny 2s infinite alternate;
    animation: pulseShiny 2s infinite alternate;
}

.display.fight-active .fighter-background {
    animation: fadeOut 3s ease-in-out forwards;
    backface-visibility: hidden;
}

.display.fight-active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    transition: background 0.5s ease-in-out;
    animation: pulseShiny 2s infinite alternate;
    background: inherit;
}

.display.fight-active .overlay {
    background: rgba(255, 255, 255, 0.1);
    z-index: 2;
}

/* Hide Controls in Active */
.display.fight-active+.controls-con .arena-selection {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.display.fight-active .controls-con .fight-button {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}


/* Hide Backgrounds in Active + Disable hover */
.display.fight-active .fighter {
    background-image: none !important;
    transition: filter 0.5s ease-in-out;
    filter: brightness(1.15);
}

.display.fight-active .fighter:hover {
    transform: none !important;
    filter: none !important;
}

.display.fight-active .fighter::before {
    animation: fallBackward 2s ease-in-out forwards;
    transform-origin: top;
    backface-visibility: hidden;
}

/* Hide Text in Active */

.display.fight-active .vsText {
    display: none;
}

.display.fight-active .attributes {
    display: none;
}


/* Full Body in Active */
.display.fight-active .fighter img.fullBody {
    filter: inherit !important;
    transform: scale(1.2);
    bottom: 1rem;
    transition: filter 1s ease-in-out;
    top: 6.5rem;
}


.display.fight-active .fighter1 img.fullBody,
.display.fight-active .fighter2 img.fullBody {
    transform: scale(1.2);
    filter: brightness(1.1);
    transition: transform 2.5s ease-in-out, filter 2.5s ease-in-out;
    bottom: 10%;
}

.fighter1 img.fullBody {
    bottom: 0;
}

.fighter2 img.fullBody {
    bottom: 0;
}

.fighter img.fullBody {
    width: auto;
    height: 20rem;
    position: absolute;
    bottom: 0.5rem;
    transition: filter 0.3s ease-in-out;
}

.display.fight-active .fighter {
    transform: none !important;
}

.display.fight-active .fighter img.fullBody {
    transition: filter 0.5s ease-in-out;
}

/* Winner Text */
.winner-text {
    color: white;
    font-family: 'title', sans-serif;
    font-size: xx-large;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    pointer-events: none;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.display.winner-text h1 {
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display.winner-text h1.visible {
    position: absolute;
    opacity: 1;
    visibility: visible;
    text-transform: uppercase;
    transition: opacity 0.3s ease-in-out;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


@media (max-width: 1200px) {

    .display.fight-active .fighter img.fullBody {
        top: 8rem !important;
    }

    .winner-text {
        top: 15%;
    }
}


@media (max-width: 1024px) {

    .fighter1 img.fullBody {
        right: 7vw;
    }

    .fighter2 img.fullBody {
        left: 7vh;
    }

    .display.fight-active .fighter img.fullBody {
        top: 13rem !important;
    }
}


@media (max-width: 780px) {

    .display.fight-active .fighter img.fullBody {
        top: 10rem !important;
    }

}


@media (max-width: 610px) {

    .display.fight-active .fighter img.fullBody {
        top: 14rem !important;
    }

    .winner-text {
        font-size: x-large;
        top: 15%;
    }
}


@media(max-width: 560px) {

    .title h1 {
        font-size: 1.2rem;
        letter-spacing: 1px;
        margin: 2rem auto -0.2rem;
    }
}


@media(max-width: 500px) {

    .display.fight-active .fighter img.fullBody {
        top: 12rem !important;
    }

    .winner-text {
        top: 20%;
    }

}


@media (max-width: 415px) {

    .display.fight-active .fighter img.fullBody {
        top: 12rem !important;
    }

    .winner-text {
        font-size: x-large;
        top: 22%;
    }
}


@media (max-width: 385px) {

    .display.fight-active .fighter img.fullBody {
        top: 8rem !important;
    }

    @media (max-width: 375px) {

        .display.fight-active .fighter img.fullBody {
            top: 7rem !important;
        }
    }
}