/* Font Face */

@font-face {
    font-family: "title";
    src: url("./assets/fonts/romaji.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "sub-title";
    src: url("./assets/fonts/masmuseh.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "tekken-bold";
    src: url("./assets/fonts/waom.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* Key Frames */
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes upOut {
    0% {
        transform: perspective(1000px) translateY(0);
        opacity: 0.7;
    }

    100% {
        transform: perspective(1000px) translateY(-100%);
        opacity: 0;
    }
}

@keyframes shine {
    0% {
        filter: brightness(1);
    }

    25% {
        filter: brightness(1.1);
    }

    50% {
        filter: brightness(1.2);
    }

    75% {
        filter: brightness(1.1);
    }

    100% {
        filter: brightness(1);
    }
}


html,
body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #131313;
    animation: fadeIn 1s ease-in-out;
}

.grayscale {
    -webkit-filter: grayscale(100%) !important;
    filter: grayscale(100%) !important;
}

.fighter1,
.fighter2 {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

/* Title */
.title h1 {
    font-family: 'sub-title', sans-serif;
    text-transform: capitalize;
    margin: 2rem auto -0.5rem;
    text-align: center;
    color: white;
    font-size: 3rem;
    letter-spacing: 2px;
}

/* Fight Active */
.display.fight-active {
    transition: filter 1s ease-in-out;
    animation: shine 0.8s 14;
}

.display.fight-active .fighter-background {
    animation: fadeOut 3s ease-in-out forwards;
    backface-visibility: hidden;
}

.display.fight-active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    transition: background 0.5s ease-in-out;
    background: inherit;
}

.display.fight-active .overlay {
    background: none;
    z-index: 2;
}

/* Hide Controls in Active */
.display.fight-active+.controls-con .arena-selection {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.display.fight-active .controls-con .fight-button {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}


/* Hide Backgrounds in Active + Disable hover */
.display.fight-active .fighter {
    background-image: none !important;
    transition: filter 0.5s ease-in-out;
    filter: brightness(1.1);
}

.display.fight-active .fighter:hover {
    transform: none !important;
    filter: none !important;
}

.display.fight-active .fighter::before {
    animation: upOut 2s ease-in-out forwards;
    transform-origin: top;
    backface-visibility: hidden;
}

/* Hide Text in Active */

.display.fight-active .vsText {
    display: none;
}

.display.fight-active .attributes {
    display: none;
}


/* Full Body in Active */
.display.fight-active .fighter img.fullBody {
    transition: transform 2.5s ease-in-out, filter 2.5s ease-in-out;
    margin-top: 5rem !important;
}

.fighter img.fullBody {
    width: auto;
    height: 28rem;
    position: absolute;
    bottom: 0.5rem;
    transition: filter 0.3s ease-in-out;
}

.display.fight-active .fighter {
    transform: none !important;
}

/* Winner Text */
.winner-text {
    color: #901e12;
    font-family: 'sub-title', sans-serif;
    font-size: 5rem;
    text-transform: capitalize;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    pointer-events: none;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.display.winner-text h1 {
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display.winner-text h1.visible {
    position: absolute;
    opacity: 1;
    visibility: visible;
    text-transform: capitalize;
    transition: opacity 0.3s ease-in-out;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


@media (max-width: 1200px) {


    .fighter img.fullBody {
        height: 22rem;
    }

    .winner-text {
        top: 20%;
        font-size: 4rem;
    }
}


@media (max-width: 780px) {

    .display.fight-active .fighter img.fullBody {
        margin-top: 2rem !important;
    }

    .winner-text {
        top: 20%;
        font-size: 3rem !important;
    }

}

@media (max-width: 700px) {

    .display.fight-active .fighter img.fullBody {
        margin-top: 0 !important;
    }

}


@media (max-width: 610px) {

    .display.fight-active .fighter img.fullBody {
        margin-top: 6rem !important;
    }

    .winner-text {
        top: 25%;
        font-size: 3.5em;
    }

}

@media(max-width: 560px) {

    .title h1 {
        font-size: 2.5rem;
        letter-spacing: 1px;
        margin: 2rem auto -0.2rem;
    }

    .winner-text {
        top: 20%;
        font-size: 2.5rem !important;
    }
}


@media(max-width: 500px) {

    .display.fight-active .fighter img.fullBody {
        margin-top: 7.5rem !important;
    }

}


@media (max-width: 415px) {

    .winner-text {
        top: 22%;
        font-size: 2.2rem !important;
    }

    .display.fight-active .fighter img.fullBody {
        margin-top: 7.5rem !important;
    }
}


@media (max-width: 385px) {

    .display.fight-active .fighter img.fullBody {
        margin-top: 6.6rem !important;
    }


}

@media (max-width: 375px) {

    .display.fight-active .fighter img.fullBody {
        margin-top: 4rem !important;
    }


}